doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dialog.css')
  body
    div(class="content")
      block content
  script(type="module" src="/javascript/script.js")
